.header-container,
.hero-content,
.container-main,
.footer-container {
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

/* Main content */
.container-main {
    display: flex;
    flex-direction: column;
    padding: 0rem clamp(0.5rem, 5vw, 2rem);
    gap: 4rem;
}

/* Media queries */
/*  
@media screen and (max-width: 1024px) {
    .header-container,
    .container-main,
    .footer-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    } 

    .container-main {
        display: flex;
        flex-direction: column;
        padding: 4rem 0;
        gap: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .header-container,
    .container-main,
    .footer-container {
        padding-left: 1rem;
        padding-right: 1rem;
    } 

    .container-main {
        padding: 2rem 0;
        gap: 2rem;
    }
}

.hero-image img {
        height: auto;
        min-height: 15rem;
        object-fit: cover;
        z-index: 0;
    }
*/