/* Forminator */
/* Custom styling  for the Forminator contactform is in theme.css under 'Forms'. */

/* Complianz */

.cmplz-cookiebanner .cmplz-buttons button {
    all: unset; /* reset alle browser styles */
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 2px solid var(--color-contrast);
    background-color: var(--color-contrast);
    color: var(--color-text);
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 1rem;
}
.cmplz-cookiebanner .cmplz-buttons button:hover {
    background-color: var(--color-footer);
    border-color: var(--color-footer);
}