/* Colors and Fonts */
:root{

    /* Font weights */
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
  
   /* Fonts */
   --font-body: 'Nunito', sans-serif;
   --font-heading: 'Zilla Slab', serif;

   /* Lightmode */
    --color-text: #192324;
    --color-text-dark: rgba(255, 255, 255, 0.87);
    --color-primary: #D7233E;
    --color-accent: #f8c9d7;
    --color-accent-2: #EBEBEB;
    --color-footer: #CBEEF3; 
    --color-contrast: #49b3c1;
    --color-background: #F8F4F5;
    --color-bg-dark: #F8F4F5;
    --color-bg-light: #192324;
    --color-menu-button-hover: #f8c9d7;
    --color-button-hover: #E38CA6;
    --color-button-text: #F8F4F5;
    --color-page-hero-bg: #f8c9d7;
}

/* Darkmode */

.darkmode {
    --color-text: rgba(255, 255, 255, 0.87);
    --color-primary: #D96377;
    --color-accent: #E38CA6;
    --color-accent-2: #293a3d;
    --color-footer: #103C42; 
    --color-contrast: #45a4b0;
    --color-background: #192324;
    --color-bg-light: #192324;
    --color-card-bg: #293a3d;
    --color-menu-button-hover: #293a3d;
    --color-button-hover: #E38CA6;
    --color-button-text: #192324;
    --color-page-hero-bg: #103C42;
}

/* Global styles */

html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
  
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    max-width: 100%;
    margin: 0 auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
  }
  
  p {
    font-family: var(--font-body);
    font-size: 1rem; /* Blijft altijd 1rem */
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    line-height: 1.5em;
}
  
a {
    font-family: var(--font-body);
    color: var(--color-primary);
    text-decoration: underline;
    transition: color 0.3s ease;
    cursor: pointer;
  }
  
  a:hover {
    text-decoration: none;
  }

h1 {
    font-size: clamp(2rem, 5vw + 1rem, 3rem);
    line-height: 1.2em;
}

h2 {
    font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem); 
    line-height: 1.2em;
}

h3 {
    font-size: clamp(1.25rem, 3vw + 1rem, 2rem);
    line-height: 1.2em;
}

h4 {
    font-size: clamp(1rem, 2.5vw + 1rem, 1.5rem);
    line-height: 1.3em;
}

h5 {
    font-size: clamp(0.9rem, 2vw + 1rem, 1.25rem);
    line-height: 1.4em;
}

h6 {
    font-size: clamp(0.8rem, 1.8vw + 1rem, 1.125rem);
    line-height: 1.4em;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--color-text);
}

/* Button styles */
button {
    all: unset;
    cursor: pointer;
  }
 
.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    width: fit-content;
    font-family: var(--font-body);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-button-text);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-button-text);
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary {
    background-color: var(--color-contrast);
    color: var(--color-text);
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: var(--color-footer);
}

 /* A11y */
.skip-link {
    position: absolute;
    top: -50px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding:1rem;
    margin: 0;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 600;
}

.skip-link:focus {
    top: 12px;
    left: 12px;
} 

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }  