html {
    scroll-behavior: smooth;
    font-size: 16px;
  }
  
  body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    line-height: 1.6;
    max-width: 100%;
    margin: 0 auto;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    margin: 0 0 1rem;
  }
  

  p {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--color-text);
    line-height: var(--line-height-normal);
    margin-bottom: 1rem;
}
  
a {
    font-family: var(--font-body);
    font-size: var(--font-size-base);
    color: var(--color-primary);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

h1 {
    font-size: var(--font-size-xxxxl);
    line-height: var(--line-height-xs);
}

h2 {
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xs);
}

h3 {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xs);
}

h4 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
}

h5 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
}

h6 {
    font-size: var(--font-size-md);
    line-height: var(--line-height-lg);
}

button {
    all: unset;
    cursor: pointer;
  }
  
  