/* A11y */
.skip-link {
    position: absolute;
    top: -50px;
    background-color: var(--color-background);
    color: var(--color-text);
    padding:1rem;
    margin: 0;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 600;
}

.skip-link:focus {
    top: 12px;
    left: 12px;
}

/* Header */

img.rr-logo {
    max-width: 10rem;
    margin-right: 2rem;
}

.menu-items {
    display: flex; /* Zet de navigatie en knoppen naast elkaar */
    justify-content: flex-end;
    align-items: center; /* Zorgt dat alles netjes gecentreerd staat */

}

/* Header Navigation */

#header-nav {
   background-color: var(--color-background);
}

#header-nav ul {
    list-style: none;
    display: flex;
} 

#header-nav li {
    display: flex;
    padding: 0 2rem;
}

#header-nav a {
    display: flex;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-text);
    padding: 1em 0; 
    transition: background-color 150ms ease;

    &:hover {
        border-bottom: 2px solid var(--color-contrast);
    }
}

#header-nav a.active-link {
    border-bottom: 2px solid var(--color-primary);
}

.menu-buttons {
    display: flex; 
    gap: 0.75rem; 
    align-items: center; 
}

 .menu-button {
    padding: 0.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;   
    align-items: center;

    &:hover {
        background-color: var(--color-menu-button-hover);
    }

    &:focus {
        outline: 2px solid var(--color-primary);
    }
 }

/* Mobile Menu */

#open-sidebar-button {
    display: none;
    background: none;
    margin-left: auto;
    padding: 0.5em;
    margin-right: 0.75rem;

    &:focus {
        border-radius: 50%;
        outline: 2px solid var(--color-primary);
    }
}

#close-sidebar-button {
    display: none;
    background: none;
    padding: 0.5em;

    &:focus {
        border-radius: 50%;
        outline: 2px solid var(--color-primary);
    }
}

#overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0;
    transition: rgba(0,0,0,0.5) 0.3s ease-in-out;
    z-index: 9;
    display: none;
}

/* Theme switcher */

#theme-switch svg {
    stroke: var(--color-text);
}

#theme-switch svg:first-child {
    display: block;
} 

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    stroke: var(--color-text);
}

/* Hero & Introduction */

.hero-content, .card--horizontal, .introduction {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 5rem 0;
    max-width: 80rem;
    margin: 0 auto;
}

.hero-content .card-image,
.introduction .card-image,
.hero-content .card-content-wrapper,
.introduction .card-content-wrapper {
  flex: 1 1 50%;
}

.page-hero {
    background-color: var(--color-accent);
    padding: 5rem 2rem;
    margin: 0 auto;
    max-width: 80rem;
    width: 100%;
}

.hero-listing {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 80rem;
}

.hero-listing .card {
    display: flex;
    flex-direction: row;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

.hero-listing .card-content-wrapper {
    background-color: var(--color-accent);
}

.introduction .card-content-wrapper {
    background-color: var(--color-footer);
}

.hero-listing .card-content, .introduction .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-top: 0;
    background-color: var(--color-background);
}
  
/* Card styles */

.blogpost-section {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
    flex-direction: column;
}

.blog-listing-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
        box-shadow: 8px 8px 0px 0px var(--color-accent);
}

.card h1 {
    margin-bottom: 0;
}

.card h1 a{
    font-family: var(--font-heading);
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xs);
    text-decoration: none;
}

.card h3 {
    margin-bottom: 0;
}

.card h3 a {
    font-family: var(--font-heading);
    font-size: var(--font-size-xl);
    line-height: var(--line-height-md);
    text-decoration: none;
}


.card a {
    color: var(--color-text);
    outline: 0;
} 

.card a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}               

.card a:focus-visible::after {
    outline: 3px solid var(--color-text);
    box-shadow: 8px 8px 0px 0px var(--color-text);
} 

.card:focus-within {
    outline: 3px solid var(--color-text);
    box-shadow: 8px 8px 0 var(--color-text);
}

.user-is-tabbing .card:focus-within {
    outline: 3px solid var(--color-text);
    box-shadow: 8px 8px 0 0 var(--color-text);
  }

body:not(.user-is-tabbing) .card:focus-within {
    outline: none;
    box-shadow: none;
  } 

 .card-content:hover .btn-primary {
    background-color: var(--color-accent);
    color: var(--color-bg-light);
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
} 

.card-image img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    min-height: 15rem;
    object-fit: cover;
    z-index: 0;
}

.card-content-wrapper {
    display: flex;
    flex-grow: 1;
    padding: 1rem;
    background-color: var(--color-accent-2);
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    margin-top: -3rem;
    background-color: var(--color-background);
}

.post-date {
    font-size: 0.875rem;
    font-family: var(--font-body);
    color: var(--color-text);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    width: fit-content;
    font-family: var(--font-body);
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--color-button-text);
    margin-top: 1rem;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-button-text);
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary {
    background-color: var(--color-contrast);
    color: var(--color-text);
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-secondary:hover {
    background-color: var(--color-footer);
}

/* Footer styles */
footer {
    background-color: var( --color-footer);
    color: var(--color-text);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    gap: 3rem;
}

.footer-menu {
    display: flex;
    justify-content: flex-start;
}

.footer-menu nav ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%;
    gap: 1rem;
}

.footer-menu nav a {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 50%;
    gap: 1rem;
}

.footer-social-media h2 {
    font-size: 1.5rem;
}

.footer-social-media ul {
    display: flex;
    width: 100%;
    background-color: transparent;
    flex-wrap: wrap;
}

.footer-social-media li {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 1rem;

    &:hover {
        background-color: none;
        color: var(--color-primary);
        border: none;

        &:focus {
            border-radius: 0.5rem;
            outline: 2px solid var(--color-primary);
        }
    }
}

.footer-info {
    padding: 0 0 1rem 0;
}

