.header-container,
.hero-content,
.container-main,
.footer-container {
    max-width: 80rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
}

/* header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main content */
.container-main {
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    gap: 4rem;
}

/* Media queries */

@media screen and (max-width: 1024px) {

    .header-container,
    .container-main,
    .footer-container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .header-container img.rr-logo {
        max-width: 7rem;
    }

    .header-container #header-nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-bottom: 0;
        border-left: 1px solid var(--color-accent);
        transition: right 300ms ease-out;
    }

    .header-container #header-nav.show {
        right: 0;
    }

    .header-container #header-nav ul {
        width: 100%;
        flex-direction: column;
    }

    .header-container #header-nav li {
        padding: 0;
    }

    .header-container #header-nav a {
        padding: 1em 2.5em;
        width: 100%;
        transition: background-color 150ms ease;

        &:hover {
            border-bottom: none;
            background-color: var(--color-contrast);
            color: var(--color-bg-light);
        }
    }

    .header-container #header-nav a.active-link {
        border-bottom: none;
        background-color: var(--color-primary);
        color: var(--color-background);
    }

    .header-container #open-sidebar-button {
        display: block;
    }

    .header-container #close-sidebar-button {
        display: block;
        padding: 0.5em;
        margin: 2em;
    }

    /* Hero and introduction */
    .hero-card {
        flex-direction: column;
    }

    .hero-content .card,
    .introduction {
        flex-wrap: wrap;
    }

    /* Card styles */
    .blog-listing-grid {
        gap: 3rem;
    }

    /* Footer styles */
    .footer-content {
        padding: 3rem 0;
        gap: 3rem;
    }

    .footer-menu {
        display: flex;
        justify-content: flex-start;
        background-color: var(--color-footer);
    }

    .footer-menu nav ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style-type: none;
        width: 100%;
        gap: 1rem;
    }

    .footer-menu nav a {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-text);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 768px) {

    .header-container,
    .container-main,
    .footer-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .header-container img.rr-logo {
        max-width: 5rem;
    }


    /* Card styles */
    .blog-listing-grid {
        gap: 4rem;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        gap: 2rem;
    }

    .footer-menu nav a {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        font-family: var(--font-body);
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-text);
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .footer-social-media {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 100%;
        gap: 1rem;
    }
}