/* Hero component styles */

/* Homepage hero & introduction styles */
.hero-section {
    margin: 0 auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero-content {
    position: relative;
    width: 100%;
    background-color: var(--color-background);
    background-image: radial-gradient(var(--color-accent) 2px, transparent 2px); 
    background-size: 20px 20px;
}

.hero-listing {
    display: flex;
    flex-direction: row;
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
}

.hero-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80rem;
    max-width: 100%;
    margin: 0 auto;
}

.hero-image-wrapper {
    width: 60%;
}

.hero-image-wrapper img {
    aspect-ratio: 3 / 2;
    width: 100%;
    height: auto;
    min-height: 15rem;
    max-height: 35rem;
    object-fit: cover;
    margin-top: -2rem;     
    margin-bottom: -2rem;  
    z-index: 0;
}
      
.hero-card-content-wrapper {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 100%; 
}

.hero-card-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: calc(100% + 7rem);
    margin-left: -7rem;
    z-index: 1;
    padding: 1.5rem;
    gap: 1rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-accent);
    transition: box-shadow 0.3s ease-in-out;
}

.hero-card-content a {
    font-family: var(--font-heading);
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xs);
    color: var(--color-text);
    text-decoration: none;
    outline: none;
}

/* Introduction */

.introduction {
    position: relative;
    width: 100%;
    background-color: var(--color-background);
    background-image: radial-gradient(var(--color-contrast) 2px, transparent 2px); 
    background-size: 20px 20px;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin: 0 auto;
    max-width: 80rem;
    padding: 0 2rem;
}

.introduction-image-wrapper {
    width: 60%;
}

.introduction-image-wrapper img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    min-height: 15rem;
    max-height: 35rem;
    object-fit: cover;
    margin-top: -2rem;     
    margin-bottom: -2rem;  
    z-index: 0;
}
      
.introduction-content-wrapper {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 100%; 
}

.introduction-card-content {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: calc(100% + 7rem);
    margin-right: -7rem;
    z-index: 1;
    padding: 1.5rem;
    gap: 1.5rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-contrast);
}

.introduction-card-content a {
    font-family: var(--font-heading);
    font-size: var(--font-size-xxxl);
    line-height: var(--line-height-xs);
    color: var(--color-text);
    text-decoration: none;
    outline: none;
}

/* Page hero styles */
.page-hero { 
    background-color: var(--color-background);
    background-image: radial-gradient(var(--color-accent) 2px, transparent 2px); 
    background-size: 20px 20px; 
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin: 0 auto;
    max-width: 100%; 
    width: 100%;
} 

/* Single post hero styles */
.single-post-hero {
    background-color: var(--color-background);
    padding: 0;
    margin: 0 auto;
    max-width: 80rem;
    width: 100%; 
}

.hero-image img {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
    min-height : 15rem;
    max-height: 35rem;
    object-fit: cover;
}

/* Media Queries */

@media screen and (max-width: 1280px) {
    .hero-section.page-hero {
        margin: 0 auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 100%;
        border-radius: 0rem;
    }
}

@media screen and (max-width: 1024px) {
    .hero-content {
        background-color: var(--color-background);
        background-image: radial-gradient(var(--color-accent) 2px, transparent 2px); 
        background-size: 15px 15px;
    }

    .hero-image-wrapper, .introduction-image-wrapper {
        width: 50%;
    }
    
    .hero-image-wrapper img, .introduction-image-wrapper img {
        height: 400px;
        width: 100%;
        justify-content: center;
        object-fit: cover;
        aspect-ratio: 3 / 2;
        margin-top: -1.5rem;     
        margin-bottom: -1.5rem;  
        position: relative;
        z-index: 0;
    }
           
    .hero-card-content-wrapper, .introduction-content-wrapper {
        display: flex;
        align-items: center;
        width: 50%;
        max-width: 100%; 
        padding: 1.5rem 0;
    }
    
    .hero-card-content, .introduction-card-content {
        width: calc(100% + 5rem);
        margin-left: -5rem;
        padding: 1rem;
    }

    .page-hero { 
        background-size: 15px 15px; 
    } 
    
}

@media screen and (max-width: 768px) {
    /* Hero and introduction */
    .hero-section {
        padding-top: 0;
        padding-bottom: 0;
    }

    .hero-content, .introduction {
        background-size: 10px 10px;
    }

    .hero-listing, .introduction {
        flex-direction: column;
        padding: 0;
    }
    .hero-card, .introduction-card {
        flex-direction: column;
        padding: 0;
    }

    .hero-image-wrapper, .introduction-image-wrapper {
        width: 100%;
    }
    
    .hero-image-wrapper img, .introduction-image-wrapper img {
        aspect-ratio: 16 / 9;
        width: 100%;
        margin: 0;
        height: auto;
        min-height: 15rem;
        object-fit: cover;
        z-index: 0;
        }
          
    
    .hero-card-content-wrapper, .introduction-content-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 1rem;
        width: 100%;
    }
    
    .hero-card-content, .introduction-card-content {
        justify-content: start;
        padding: 1rem;
        margin-top: -3rem;
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

    /* Single post */
    .single-post-hero {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    /* Page */

    .page-hero { 
        background-size: 10px 10px; 
    } 
    
}