.sidebar {
  grid-area: sidebar;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  padding-left: clamp(1rem, 5vw, 2rem);
  gap: 2rem;
  border-left: 2px solid var(--color-accent);
}

.widget {
  display: flex;
  flex-direction: column;
}

.widget h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
}

.widget ul {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

.widget p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .sidebar {
    padding: 2rem 0;
    border-top: 2px solid var(--color-accent);
    border-left: none;
  }

  .sidebar-inner {
    padding-left: 0;
    border-left: none;
  } 

  .widget h2 {
  font-size: 1.5rem;
  }
}








