.sidebar {
  grid-area: sidebar;
}

.sidebar-inner {
  display: flex;
  flex-direction: column;
  padding-left: clamp(1rem, 5vw, 2rem);
  gap: 2rem;
  border-left: 2px solid var(--color-accent);
}

.widget {
  display: flex;
  flex-direction: column;
}

.widget h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--font-heading);
}

.widget ul {
  display: flex;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
}

.widget p {
  margin-bottom: 1rem;
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.social-media ul {
  display: flex;
  width: 100%;
  background-color: transparent;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding: 0;
  gap: 1rem;
  list-style-type: none;
}

.social-media li a {
  padding: 0;
  border-radius: 50%;
  display: flex;
  color: var(--color-text);
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  min-height: 2.5rem;

  &:hover {
    background-color: var(--color-contrast);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

.social-media li svg:hover {
  stroke: var(--color-text);
  transition: stroke 0.3s ease-in-out, color 0.3s ease-in-out;
}

.social-media li {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}

.social-media li:hover svg {
  stroke: var(--color-bg-light);
  transition: stroke 0.3s ease-in-out;
}

.social-media li:focus svg {
  stroke: var(--color-background);
  transition: stroke 0.3s ease-in-out;
}

.social-media li svg {
  stroke: var(--color-text);
  fill: transparent;
  pointer-events: visiblePainted;
}

.social-media a:focus-visible {
  background-color: var(--color-text);
  color: var(--color-background);
  border-radius: 50%;
  outline: 2px solid var(--color-text);
}

.social-media a:focus-visible svg {
  stroke: var(--color-background);
}

@media screen and (max-width: 768px) {
  .sidebar {
    padding: 2rem 0;
    border-top: 2px solid var(--color-accent);
    border-left: none;
  }

  .sidebar-inner {
    padding-left: 0;
    border-left: none;
  } 

  .widget h2 {
  font-size: 1.5rem;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 1rem;
  }
}








