/* Card component styles */

/* Card styles */

.blogpost-section {
  display: flex;
  gap: 4rem;
  padding: 2rem 0;
  flex-direction: column;
  justify-content: center;
}

.blog-listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style-type: none;
  gap: 2rem;
  margin: 0 auto;
  padding: 0;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
}

.hover-shadow:hover {
  box-shadow: 0.5rem 0.5rem 0rem 0rem var(--color-accent);
}

.post-title {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-regular);
  line-height: 1.2em;
  color: var(--color-text);
  margin: 0;
}

.post-title a {
  font-family: var(--font-heading);
  color: var(--color-text);
  text-decoration: none;
}

section .post-title.h1 {
  font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
  width: 100%;
  line-height: 1.1em;
  margin: 0;
}

.post-title.h2 {
  font-size: clamp(1.25rem, 2.5vw + 1rem, 2rem);
}

.post-title.h3 {
  font-size: clamp(1.25rem, 2.5vw + 1rem, 2rem);
}

.card a {
  color: var(--color-text);
  outline: 0;
}

.hero-card-content a::after,
.card a::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-card-content a:focus-visible::after,
.card a:focus-visible::after {
  outline: 3px solid var(--color-text);
  box-shadow: 0.5rem 0.5rem 0rem 0rem var(--color-text);
}

.hero-card-content:focus-within,
.card:focus-within {
  outline: 3px solid var(--color-text);
  box-shadow: 0.5rem 0.5rem 0 var(--color-text);
}

.user-is-tabbing .card:focus-within {
  outline: 3px solid var(--color-text);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-text);
}

.user-is-tabbing .hero-card-content:focus-within {
  outline: 3px solid var(--color-text);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-text);
}

body:not(.user-is-tabbing) .card:focus-within {
  outline: none;
  box-shadow: none;
}

body:not(.user-is-tabbing) .hero-card-content:focus-within {
  outline: none;
  box-shadow: none;
}

.card-content:hover .btn-primary {
  background-color: var(--color-accent);
  color: var(--color-bg-light);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero-card-content:hover .btn-primary {
  background-color: var(--color-accent);
  color: var(--color-bg-light);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.card-image img {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  min-height: 15rem;
  object-fit: cover;
  z-index: 0;
}

.card-content-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  background-color: var(--color-accent-2);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: -3rem;
  gap: 1rem;
  background-color: var(--color-background);
}

.post-date {
  font-size: 0.875rem;
  font-family: var(--font-body);
  color: var(--color-text);
  margin: 0.5rem 0 1rem 0;
}

.hero-card-content span.btn.btn-primary,
.card-content span.btn.btn-primary {
  margin-top: 1rem;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .blog-listing-grid {
    gap: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-listing-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
  }
}
