#search-overlay {
  position: fixed;
  right: 2rem;
  top: 10%;
  width: 80rem;
  max-width: 90%;
  max-height: calc(100dvh - 8rem);
  overflow-y: auto;
  background: var(--color-background);
  color: var(--color-text);
  border: 2px solid var(--color-accent);
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 1000;
  display: none;
}

#search-overlay.show {
  display: block;
}
